@import '../../../assets/styles/media-query'
@import '../../../assets/styles/colors'

#postDetails
	small
		font-size: 1.2rem
		color: $black
		margin-bottom: 15px
		display: block
		font-weight: 400

	p
		font-size: 1.7rem

	h2
		display: block
		margin-top: 50px

	#postDetails-header
		border-bottom: 1px solid $dark-gray
		position: relative
		margin-bottom: 15px
		padding-bottom: 5px

		h1
			display: inline-block
			border-bottom: none
			padding-bottom: 0
			margin-bottom: 0

		#postDetails-header-actions
			display: inline-block
			position: relative
			margin-left: 15px
			top: -2px

	#postDetails-content
		width: 100%
		background-color: $white
		padding: 20px
		border: 1px solid $dark-gray

	.postDetails-category
		text-transform: capitalize
