@import '../../../assets/styles/media-query'
@import '../../../assets/styles/colors'

#postDetails
	small
		font-size: 1.2rem
		color: $black
		margin-bottom: 15px
		display: block
		font-weight: 400

	p
		font-size: 1.7rem

	h2
		display: block
		margin-top: 50px

	#postDetails-content
		width: 100%
		background-color: $white
		padding: 15px
		border: 1px solid $dark-gray

	.postDetails-category
		text-transform: capitalize
